@namespace url("http://www.w3.org/1999/xhtml");

body {
	--color: black;
	--background-image: url("../4/images/background.png");
	--logo-background: url("../4/images/header.png");
	--heading1: url("../4/images/heading1.png");
	--heading2: url("../4/images/heading2.png");
}

/*------------------------------------
	見出しレベル3
*/
.level3,
main > section > section > section > h1,
body > footer h1 {
	color: inherit;
	font-size: 1.3em;
	background: url("images/heading3.png") no-repeat center / contain;
	width: 15em;
	max-width: 90%;
	height: 3em;
	line-height: 3em;
	margin: auto;
}

/*------------------------------------
	イメージ・リスト
*/
.image-list-pairs {
	display: grid;
	grid-template-columns: 33% 66%;
}

.image-list-pairs h1,
.image-list-pairs p {
	grid-column: span 2;
}

.image-list-pairs img {
	width: min(100%, 15em);
}

.image-list-pairs ul {
	align-self: center;
}

/*------------------------------------
	表
*/
@media (min-width: 40em) {
	.table th {
		white-space: nowrap;
	}
}

.table thead {
	background: var(--header-color);
}

.table tbody tr {
	background: whitesmoke;
}

.table tbody tr:nth-of-type(2n) {
	background: #DDDDDD;
}

/*====================================
	ロゴ
*/
body > header::before {
	filter: unset;
}

/*====================================
	概要
*/
#summary strong {
	color: unset;
}

/*------------------------------------
	楽しみ方
*/
#access p {
	white-space: pre-line;
}

/*====================================
	カタログ
*/
#catalogue table {
	margin: 0 auto;
}

#catalogue thead {
	display: none;
}

#catalogue tbody {
	display: grid;
	grid-template-columns: auto auto;
	justify-content: center;
	--gap: 2em;
	gap: var(--gap);
	--grid-width: calc(50vw - var(--gap));
}

@media (max-width: 40em) {
	#catalogue tbody {
		--grid-width: 100vw;
		grid-template-columns: auto;
	}
}

#catalogue tbody tr {
	display: grid;
	--gap: 0.2em;
	--no-width: 3em;
	--ratio-name-to-icon: 1.5;
	--icon-size: min(
		calc((var(--grid-width) - var(--gap) * 2 - var(--no-width)) / (1 + var(--ratio-name-to-icon))),
		7.5em
	);
	--grid-height: max(calc(var(--icon-size) / (1 + var(--work-count))), 1.5em);
	grid-template:
		"id              icon             name                                             " var(--grid-height)
		"id              icon             work1                                            " calc(var(--grid-height) * min(1, var(--work-count)))
		"id              icon             work2                                            " calc(var(--grid-height) * min(1, var(--work-count) - 1))
		/var(--no-width) var(--icon-size) calc(var(--icon-size) * var(--ratio-name-to-icon));
	gap: var(--gap);
	margin-bottom: 1em;
}

#catalogue tbody tr > * {
	background: var(--header-color);
	display: flex;
	align-items: center;
	justify-content: center;
}

#catalogue tbody tr a {
	max-width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#catalogue .id {
	grid-area: id;
}

#catalogue .icon {
	grid-area: icon;
	background: unset;
}

#catalogue .icon img {
	width: 100%;
}

#catalogue .name {
	grid-area: name;
}

#catalogue .badge {
	height: 1.5em;
	margin-right: 0.2em;
}

#catalogue .work {
	grid-area: work;
}

/*------------------------------------
	ルーム会場「フロンティア」
*/
#frontier {
	--work-count: 0;
}

#frontier > section > h1 {
	background: unset;
	width: unset;
	height: unset;
	line-height: unset;
}

/*------------------------------------
	公式スタジオ会場「展示室」
*/
#studio {
	--work-count: 1;
}

/*------------------------------------
	広告
*/
#posters tbody {
	display: flex;
	flex-direction: column;
}

#posters tbody tr {
	display: flex;
	--icon-size: min(calc((100vw - var(--gap) * 2 - var(--no-width)) / 2), 21.5em);
	height: var(--icon-size);
	gap: var(--gap);
	margin-bottom: 1em;
}

#posters .id {
	width: var(--no-width);
}

#posters .icon {
	width: var(--icon-size);
}

#posters .icon a {
	height: 100%;
}

#posters .icon img {
	width: unset;
	height: 100%;
}

#posters .name {
	width: var(--icon-size);
	background: var(--header-color);
}

/*====================================
	出展
*/
#venues {
	display: grid;
	grid-template:
		"image-studio        image-frontier      "
		"summary-studio      summary-frontier    "
		"genre-studio        genre-frontier      "
		"way-studio          way-frontier        "
		"heading-application heading-application "
		"application-studio  application-frontier";
}

#venues thead th:not(.application) {
	display: none;
}

#venues > *,
#venues tr {
	display: contents;
}

#venues tr > * {
	border: solid 0.1em grey;
}

#venues tr > :not(.image) {
	border-top: unset;
}

#venues .frontier > * {
	border-left: unset;
}

#venues thead .application p,
#venues tbody th {
	font-weight: initial;
}

#venues thead .application {
	background: lightgrey;
}

#venues .genre dt {
	background: unset;
}

#venues .genre dt::before {
	content: "「";
}

#venues .genre dt::after {
	content: "」";
}

#venues thead .application {
	grid-area: heading-application;
}

#venues .studio .summary {
	grid-area: summary-studio;
}

#venues .studio .image {
	grid-area: image-studio;
}

#venues .studio .genre {
	grid-area: genre-studio;
}

#venues .studio .way {
	grid-area: way-studio;
}

#venues .studio .application {
	grid-area: application-studio;
}

#venues .frontier .summary {
	grid-area: summary-frontier;
}

#venues .frontier .image {
	grid-area: image-frontier;
}

#venues .frontier .genre {
	grid-area: genre-frontier;
	counter-reset: genre;
}

#venues .frontier .genre dt::before {
	counter-increment: genre;
	content: counter(genre) ".「";
}

#venues .frontier .way {
	grid-area: way-frontier;
}

#venues .frontier .application {
	grid-area: application-frontier;
}

/*====================================
	データ規定
*/
.table .genre li::before {
	content: "「";
}

.table .genre li::after {
	content: "」";
}

.table .genre .studio ol {
	padding: unset;
	list-style: none;
}

/*------------------------------------
	広告
*/
#rules > section:nth-of-type(2) > img {
	margin: 1em;
}

/*====================================
	スタッフ
*/
#staff address {
	display: flex;
	justify-content: center;
}

#staff thead {
	display: none;
}

#staff tbody:first-of-type {
}

#staff tbody tr:first-of-type {
	background: unset;
	font-size: 1.5em;
}

#staff tbody th {
	padding-top: 1em;
	font-weight: unset;
}

#staff img {
	width: 5em;
}
